html {
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    margin: 0;
    overflow: hidden;
    background-color: #eeeeee;
    align-items: stretch;
    height: 100vh;
}
* {
    box-sizing: inherit;
}
.navigation {
    flex-basis: 370px;
    flex-shrink: 0;
    min-height: 100vh;
    padding: 20px 10px 40px 30px;
}
.navigation a:link, a:visited {
    text-decoration: none;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.navigation-section {
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    background: #fefefe;
    border-radius: 2px;
    min-height: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navigation-header {
    font-size: 1.8em;
    font-weight: 100;
    line-height: 44px;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    object-fit: contain;
}
.navigation-img {
    border-radius: 50%;
    width: 60%;
    object-position: center center;
}
.navigation-menu-wrapper {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
    margin-top: 0;
}
.navigation-menu-header {
    font-size: 1em;
    font-weight: 400;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #eeeeee;
}
.navigation-menu-item {
    font-size: 0.75em;
    font-weight: 400;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    margin: 5px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #eeeeee;
}
.social {
    color: #d3d3d3;
    padding: 5px;
    text-align: center;
}
.social:hover {
    color: #363636;
}
.copyright {
    font-size: 0.75em;
    font-weight: 100;
    line-height: 22px;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.content-wrapper {
    overflow: auto;
    padding: 30px 30px 30px 20px;
}
.section-wrapper {
    margin-top: 40px;
}
.section-header {
    font-size: 1.4em;
    font-weight: 100;
    color: #363636;
    font-family: 'Roboto', sans-serif;
}
.article {
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    background: #fefefe;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.article-header {
    font-size: 1em;
    font-weight: 400;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
}
.description {
    font-size: 1em;
    font-weight: 100;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
}
.school-wrapper.active .school-description {
    height: auto;
    max-height: 1000px;
    transition: all 0.5s ease-in;
}
.school-header {
    font-size: 0.85em;
    font-weight: 100;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #eeeeee;
    margin-top: 0px;
    margin-bottom: 0px;
}
.school-description {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
    font-size: 0.85em;
    font-weight: 100;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    padding-left: 10px;
}
.article-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.article-box {
    flex-basis: 30%;
    flex-wrap: wrap;
    min-width: 300px;
}
.article-box-header {
    font-size: 0.85em;
    font-weight: 100;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #eeeeee;
    margin-top: 0px;
    margin-bottom: 5px;
    flex-basis: 30%;
    flex-shrink: 0;
}
.article-box-description-header {
    font-size: 0.85em;
    font-weight: 400;
    line-height: 22px;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-bottom: 5px;
}
.article-box-description-date {
    font-size: 0.85em;
    font-weight: 100;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin-top: 0px;
}
.article-box-description {
    font-size: 0.85em;
    font-weight: 100;
    line-height: 22px;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin-bottom: 20px;
}
.swiper-slide {
    height: 500px;
    background-color: #eeeeee;
}
.slide-wrapper {
    padding: 0px;
}
.slide-photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}